.App {
  text-align: center;
}

.SharkTank {
  display: flex;
  flex-flow: row wrap;
}

.LiveStudent {
  width: 300px;
}

.title {
  flex-basis: 100%;
}

//   .card {
//     width: 300px;
//     margin: 5px;
//   }

//   .card-body {
//     flex: none;
//   }
// }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
